body {
	font-size: 16px;
	font-family: Arial, Helvetica, Tahoma, Verdana;
	background-image: url('https://rawgit.com/jpdik/Monitoramento_Suino/master/img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
	background-size: 100% 100%;
	color: white;
}

h1 {
	margin-top:60px;
	text-align: center;
	font-size: 60px;
	text-shadow: 2px 2px 4px #000000;	
}

#pathToGo {
	text-align: center;
	font-size: 21px;
}

#pathToGo input, #pathToGo button {
	font-size: 21px;
}

#intro {
	padding-top: 40px;
	margin: 0 auto;
	width: 510px; 
}

#texto {
	text-align: center;
	font-size: 19px; 
	text-shadow: 2px 2px 4px #000000;
}

footer {
	position:absolute;
	bottom: 2%;
	padding-left: 80%;
}

footer a{
	text-decoration: none;
}

#lista{
	text-align: center;
	font-weight: bold;
	margin: 0 40%;
	color: black;
}

a.list-group-item{
	background-color: rgba(214, 214, 214, 0.39);
	color: rgba(0, 0, 0, 0.63);
}

a.list-group-item:hover{
	background-color: rgba(253, 253, 253, 0.59);
	color: black;
}