<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://rawgit.com/jpdik/Monitoramento_Suino/master/templates/home.css" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>Monitoramento gases Suíno</title>
	</head>
	<body>
		<h1>Monitoramento gases Suíno</h1>
		
		<div id="intro">
			<div id="texto">
				Selecione uma das datas para ver os dados.<br/>
			</div>
		</div>

		<form method="post" action=none>
			<br /><br />
			<div id="lista" class="list-group">
			{% for i in arquivos %}
			  	<a href="{{ i['path'].split('/')[-1] }}" class="list-group-item">{{ i['path'].split('/')[-1].split('.')[0] }}</a>
			{% endfor %}
			</div>
			<br /><br />
		</form>
	</body>
	<footer>
		Criado por <button type="button" class="btn btn-default"><a href="https://www.facebook.com/jpdik">João Paulo de Melo</a></button>
	</footer>
</html>